
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 48 100% 50%;
    --primary: 48 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 48 100% 50%;
    --white: 0 0% 100%;
    --white-soft: 0 0% 96%;
    --white-subtle: 0 0% 88%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 48 100% 50%;
    --primary: 0 0% 0%;
    --primary-foreground: 48 100% 50%;
    --secondary: 48 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --white: 0 0% 100%;
    --white-soft: 0 0% 96%;
    --white-subtle: 0 0% 88%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
