
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 48 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 48 100% 50%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 48 100% 50%;
    --primary: 0 0% 0%;
    --primary-foreground: 48 100% 50%;
    --secondary: 48 100% 50%;
    --secondary-foreground: 0 0% 0%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
